# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Budy.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Wiktor\Desktop\Budy\Budy\.idea\.idea.Budy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
